<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="sectionR">
    <div data-aos="flip-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in-cubic">
      <header class="title">
        <h1>
          ¡EMPIEZA <span id="mover">CON</span> NOSOTROS!
        </h1>
      </header>
    </div>
    <article class="table1">

      <div class="fotoEntrenador">
        <img id="logoGym" src="https://user-images.githubusercontent.com/63882053/200073195-d18b994b-ad51-4959-ae77-9a322c661171.png"
          alt="">
      </div>

      <div class="table2">
        <div class="a1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500" data-aos-once="true"
        data-aos-easing="linear" >
        <p>1</p>
      </div>
      <div class="a2" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500" data-aos-once="true"
        data-aos-easing="linear" >
        <p>2</p>
      </div>
      <div class="a3" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500" data-aos-once="true"
        data-aos-easing="linear">
        <p>3</p>
      </div>

      <div class="razonesA1" data-aos="fade-left" data-aos-delay="300" data-aos-duration="500" data-aos-once="true"
        data-aos-easing="linear" >
        <p>
          Incrementa tú fuerza <br><span><p><i>Con nosotros romperás records</i></p></span>
        </p>
      </div>
      <div class="razonesA2" data-aos="fade-left" data-aos-delay="300" data-aos-duration="500" data-aos-once="true"
        data-aos-easing="linear" >
        <p>
          Entrenamientos de calidad<br><span><p><i>Entrenamiento basado en ciencia</i></p></span>
        </p>
      </div>
      <div class="razonesA3" data-aos="fade-left" data-aos-delay="300" data-aos-duration="500" data-aos-once="true"
        data-aos-easing="linear" >
        <p>
          Mejora tú vida<br><span><p><i>No tiene precio ser mejor cada día</i></p></span>
        </p>
      </div>
      </div>
    </article>
    <!--<div class="fondo"></div>-->
  </section>
</body>

</html>
