<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="src\favicon.ico">
  <title>Document</title>
</head>
<body>

  <section class="sectionFooter">
    <!--<div class="fondo" ></div>-->
    <footer class="footer">
      <div class="fotoJuanda">
        <img src="https://user-images.githubusercontent.com/63882053/200039683-75b5dd8f-e020-4f08-8d8c-ca6f06980037.png" alt="">
      </div>
      <div class="nombreJuanda">
        <h4>
          <i>
            Juan David Moreno <br>
            <span><hr></span>
          </i>
        </h4>
      </div>
      <div class="socialMediaJuanda">
        <p>
          <a target="_blank" href="https://www.instagram.com/heisjuanda/">INSTAGRAM</a> <br>
          <span><hr></span>
        </p>
        <P>
          <a target="_blank" href="https://github.com/jdma253">GITHUB</a> <br>
          <span><hr></span>
        </P>
        <P>
          <a target="_blank" href="https://heisjuanda.netlify.app/">PORTAFOLIO</a> <br>
          <span><hr></span>
        </P>
      </div>
    </footer>
  </section>
</body>
</html>
