@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap');
//font-family: 'Roboto', sans-serif;

html,
body {
  padding: 0%;
  margin: 0%;
  animation: opacityy 0.2s linear forwards;
  //overflow-x: hidden;
}

.sectionH {
  position: fixed;
  top: 0px;
  z-index: 1;

  .xtremeGym {
    grid-area: gym;
  }

  .start {
    grid-area: start;
  }

  .log-in {
    grid-area: log-in;
  }

  .header {
    display: grid;
    grid-template-areas:
      'gym gym gym gym gym start start log-in log-in '
    ;

    .xtremeGym {
      margin-left: 5%;
      transform: translateY(-5vw);

      h3 {
        opacity: 0.7;
        font-size: 5vw;
        font-family: 'Roboto', sans-serif;
        transition: 0.5s;
        color: white;
        a{
          text-decoration: none;
          color: white;
        }
      }

      h3:hover {
        opacity: 1;
        text-shadow: 0.1vw 0.1vw 0vw wheat;
      }

      height: 10vw;
    }

    .start {
      button {
        width: 15vw;
        height: 100%;
        background-color: transparent;
        //border: 0.1px solid white;
        border: none;
        p {
          transition: 0.5s;
          font-size: 2vw;
          opacity: 0.7;
          a{
            text-decoration: none;
            font-family: 'Noto Sans Warang Citi', sans-serif;
            color: white;
          }
          span {
            hr {
              animation: opacidad 0.3s linear forwards;
              animation-direction: reverse;
              width: 13vw;
              //transform: translateX(-1vw);
              opacity: 1;
            }
          }
        }
        p:hover {
          opacity: 1;

          span {
            hr {
              animation: crecerAncho1 0.3s linear;
              opacity: 1;
            }
          }
        }
      }
      height: 5vw;
      width: 12vw;
    }

    .log-in {
      button{
        width: 15vw;
        height: 100%;
        background-color: transparent;
        border: 1px solid white;
        border: none;
        p {
          transition: 0.5s;
          font-size: 2vw;
          opacity: 0.7;
          a{
            text-decoration: none;
            font-family: 'Noto Sans Warang Citi', sans-serif;
            color: white;
          }
          opacity: 0.7;
          span {
            hr {
              width: 17vw;
              animation: opacidad 0.3s;
              animation-direction: reverse;
              transform: translateX(-1vw);
              opacity: 0;
            }
          }
        }
        p:hover {
          opacity: 1;
          span {
            hr {
              animation: crecerAncho2 0.3s linear;
              animation-direction: normal;
              opacity: 1;
            }
          }
        }
      }
      height: 5vw;
      width: 15.5vw;
    }

    width: 100vw;
    gap: 2%;
    background-color: black;
    height: 7vw;
  }

  @keyframes opacidad {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0.1;
    }

    20% {
      opacity: 0.2;
    }

    30% {
      opacity: 0.3;
    }

    40% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.5;
    }

    60% {
      opacity: 0.6;
    }

    70% {
      opacity: 0.7;
    }

    80% {
      opacity: 0.8;
    }

    90% {
      opacity: 0.9;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes crecerAncho1 {
    0% {
      width: 0.1vw;
    }

    10% {
      width: 1.3vw;
    }

    20% {
      width: 2.6vw;
    }

    30% {
      width: 3.9vw;
    }

    40% {
      width: 5.2vw;
    }

    50% {
      width: 6.5vw;
    }

    60% {
      width: 7.8vw;
    }

    70% {
      width: 9.1vw;
    }

    80% {
      width: 10.4vw;
    }

    90% {
      width: 11.7vw;
    }

    100% {
      width: 13vw;
    }
  }

  @keyframes crecerAncho2 {
    0% {
      width: 0vw;
    }

    10% {
      width: 1.7vw;
    }

    20% {
      width: 3.4vw;
    }

    30% {
      width: 5.1vw;
    }

    40% {
      width: 6.8vw;
    }

    50% {
      width: 8.5vw;
    }

    60% {
      width: 10.2vw;
    }

    70% {
      width: 11.9vw;
    }

    80% {
      width: 13.6vw;
    }

    90% {
      width: 15.3vw;
    }

    100% {
      width: 17vw;
    }
  }
}

.sectionE {
  background-color: black;

  .titleE {
    width: 69%;

    h1 {
      margin-left: 2%;
      margin-top: 2%;
      font-family: 'Roboto', sans-serif;
      font-size: 10vw;
      color: white;
      text-align: start;

      span {
        color: wheat;
      }
    }
  }

  .fotoTio {
    grid-area: fotoTio;
    text-align: center;

    img {
      width: 35vw;
      border-radius: 20%;
    }
  }

  .estudiosUno {
    grid-area: estudiosU;
  }

  .estudiosDos {
    grid-area: estudiosD;
  }

  .estudiosTres {
    grid-area: estudiosT;
  }

  .estudiosUno,
  .estudiosDos,
  .estudiosTres {
    color: white;

    h4 {
      text-align: center;
      font-size: 4vw;
      font-family: 'Roboto', sans-serif;

      span {
        p {
          font-family: 'Roboto', sans-serif;
          font-size: 2vw;
        }
      }
    }
  }

  .entrenar {
    display: grid;
    grid-template-areas:
      'estudiosU fotoTio '
      'estudiosD fotoTio'
      'estudiosT fotoTio'
    ;
  }
}

.sectionA {
  background-color: white;

  .titleA {
    height: 30vw;
    h1 {
      font-size: 12vw;
      font-family: 'Roboto', sans-serif;
      text-align: end;
      margin-right: 5%;

      span {
        color: darkgray;
        animation: uno 5s linear forwards infinite;
      }
    }
  }

  .subtitleA {
    grid-area: subA;
  }

  .linkA {
    grid-area: linkA;
  }

  .tableA {
    display: grid;
    grid-template-areas:
      'subA linkA';

    .subtitleA {
      font-size: 8vw;
      font-family: 'Roboto', sans-serif;
      text-align: left;
    }

    .linkA {
      width: 100%;
      position: relative;

      p {
        margin-left: 2%;
        transform: translateY(13vw);
        transition: 0.5s;

        a {
          text-align: end;
          font-size: 6vw;
          font-family: 'Roboto', sans-serif;
          color: gray;
          text-decoration: none;
        }
      }

      p:hover {
        margin-left: 5%;
      }
    }

    width: 100%;
  }
}

.sectionPlan {
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  z-index: 1;
  border: 1vw solid gray;
  border-radius: 10%;
  top: 7vw;
  .plan1 {
    grid-area: plan1;
  }

  .plan2 {
    grid-area: plan2;
  }

  .plan3 {
    grid-area: plan3;
  }

  .descripPlanes {
    grid-area: descripPlanes;
  }

  .salir {
    grid-area: salir;
  }

  .planes {
    display: grid;
    grid-template-areas:
      'plan1 descripPlanes salir'
      'plan2 descripPlanes salir'
      'plan3 descripPlanes salir'
    ;

    .plan1,
    .plan2,
    .plan3 {
      height: 50%;
      h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 5vw;
        color: wheat;
        text-align: start;
      }
    }

    .salir {
      button {
        border: 1px solid red;
        background-color: transparent;
        height: 8%;
        p {
          color: white;
          font-size: 2vw;
          transform: translateY(-1vw);
        }
      }
    }

    .plan1Des {
      grid-area: des1;
    }

    .plan2Des {
      grid-area: des2;
    }

    .plan3Des {
      grid-area: des3;
    }

    .descripPlanes {
     margin-top: 4vw;
      display: grid;
      grid-template-areas:
        'des1'
        'des2'
        'des3'
      ;
      .plan1Des,
      .plan2Des,
      .plan3Des {
        width: 10vw;
        p {
          margin: 0.1vw;
          text-align: justify;
          font-size: 2vw;
          color: white;
          font-family: 'Roboto', sans-serif;
          span{
            p{
              color: gray;
            }
          }
        }
      }
    }
  }
  width: 36vw;
  height: 39vw;
  transform: translateX(50vw);
  animation: opacityy 0.2s linear forwards;
}

.sectionPlanes{
  background-color: black;
    h1{
      font-size: 15vw;
      font-family: 'Roboto', sans-serif;
      color: white;
      height: 32vw;
    }
  .claseDia{grid-area: dia;}
  .claseSemana{grid-area: semana;}
  .claseMes{grid-area: mes;}
  .descripcionPd{grid-area: diaD;}
  .descripcionPs{grid-area: semanaD;}
  .descripcionPm{grid-area: mesD;}
  .tableP{
    display: grid;
    grid-template-areas:
    'dia diaD'
    'semana semanaD'
    'mes mesD'
    ;
    grid-template-rows: 25% 25%;
    gap: 5%;
    .claseDia,.claseSemana,.claseMes{
      font-size: 7vw;
      color: wheat;
      font-family: 'Roboto', sans-serif;
    }
    .descripcionPd,.descripcionPs,.descripcionPm{
      font-size: 5vw;
      color: white;
      font-family: 'Roboto', sans-serif;
      transform: translateY(5vw);
    }
    height: 50vw;
    margin-left: 2vw;
  }
  height: 110vw;
}

.sectionHorarios{
  background-color: white;
  .titleHorarios{
    h1{
      color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 19.5vw;
      text-align: center;
      margin-right: 5vw;
    }
  }
  .dias{grid-area: dias;}
  .inicio1{grid-area: inicio1;}
  .inicio2{grid-area: inicio2;}
  .hasta{grid-area: hasta;}
  .tableHorarios{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: grid;
    grid-template-areas:
    'dias'
    'inicio1'
    'hasta'
    'inicio2'
    ;
    grid-template-rows: 35% 20% 10% 2%;
    .dias{
      font-size: 15vw;
    }
    .inicio1,.inicio2{
      font-size: 10vw;
      color: black;
      //animation: changeColor 10s infinite linear;
      span{
        color: darkgray;
      }
    }
    .hasta{
      font-size: 8vw;
      //-webkit-text-stroke: 0.25vw black;
    }
    @keyframes changeColor {
      0%{
        color: black;
      }25%{
        color: gray;
      }50%{
        color: wheat;
      }75%{
        color: gray;
      }100%{
        color: black;
      }
    }
    height: 160vw;
  }
}

@keyframes bordes1 {
  0% {
    border-radius: 92% 8% 86% 14% / 9% 90% 10% 91%;
  }

  50% {
    border-radius: 10% 90% 11% 89% / 90% 12% 88% 10%;
  }

  100% {
    border-radius: 92% 8% 86% 14% / 9% 90% 10% 91%;
  }
}

@keyframes opacityy {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes crecerAncho0 {
  0% {
    width: 0vw;
  }

  10% {
    width: 4vw;
  }

  20% {
    width: 8vw;
  }

  30% {
    width: 12vw;
  }

  40% {
    width: 16vw;
  }

  50% {
    width: 20vw;
  }

  60% {
    width: 24vw;
  }

  70% {
    width: 28vw;
  }

  80% {
    width: 32vw;
  }

  90% {
    width: 36vw;
  }

  100% {
    width: 40vw;
  }
}

@keyframes uno {
  0%{
    color: darkgray;
  }50%{
    color: wheat;
  }100%{
    color: darkgray;
  }
}

@media screen and (max-width: 800px) {
  .sectionH{
    .header{
      height: 12vw;
      .xtremeGym{
        h3{
          font-size: 7vw;
        }
      }
      .start{
        button{
          //border: 1px solid white;
          height: 10vw;
          width: 19vw;
          p{
            font-size: 3vw;
            span{
              hr{
                width: 17vw;
              }
            }
          }
          p:hover{
            span{
              hr{
                animation: crecerAnchoMobile1 0.3s linear
              }
            }
          }
        }
      }
      .log-in{
        button{
          //border: 1px solid white;
          height: 10vw;
          width: 19vw;
          p{
            font-size: 3vw;
            span{
              hr{
                width: 17vw;
              }
            }
          }
          p:hover{
            span{
              hr{
                animation: crecerAnchoMobile1 0.3s linear
              }
            }
          }
        }
      }
    }
  }
  .sectionE {
    .titleE {
      h1 {
        font-size: 15vw;
      }
    }
    .fotoTio {
      img {
        width: 50vw;
      }
    }
    .estudiosUno,
    .estudiosDos,
    .estudiosTres {
      h4 {
        font-size: 4.5vw;
        span {
          p {
            font-size: 2.5vw;
          }
        }
      }
    }
  }
  .sectionA {
    .titleA {
      h1 {
        font-size: 12.7vw;
      }
    }
    .tableA {
      .subtitleA {
        font-size: 10vw;
      }
      .linkA {
        p {
          transform: translateY(13vw);
          a {
            font-size: 9vw;
          }
        }
      }
    }
  }
  .sectionPlan {
    z-index: 1;
    top: 12vw;
    .planes {
      .plan1,
      .plan2,
      .plan3 {
        height: 60%;
        h1 {
          font-size: 5vw;
        }
      }
      .descripPlanes {
       margin-top: 5vw;
        .plan1Des,
        .plan2Des,
        .plan3Des {
          width: 10vw;
          p {
            font-size: 3vw;
          }
        }
      }
    }
    width: 45vw;
    height: 42vw;
    transform: translateX(53vw);
    animation: opacityy 0.2s linear forwards;
  }
  .sectionPlanes{
      h1{
        font-size: 15vw;
      }
    .tableP{
      .claseDia,.claseSemana,.claseMes{
        font-size: 7vw;
      }
      .descripcionPd,.descripcionPs,.descripcionPm{
        font-size: 5vw;
      }
    }
  }
}

@keyframes crecerAnchoMobile1 {
  0% {
    width: 0vw;
  }

  10% {
    width: 1.7vw;
  }

  20% {
    width: 3.4vw;
  }

  30% {
    width: 5.1vw;
  }

  40% {
    width: 6.8vw;
  }

  50% {
    width: 8.5vw;
  }

  60% {
    width: 10.2vw;
  }

  70% {
    width: 11.9vw;
  }

  80% {
    width: 13.6vw;
  }

  90% {
    width: 15.3vw;
  }

  100% {
    width: 17vw;
  }
}
