<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="src/favicon.ico">
  <title>XtremeGym</title>

</head>

<body id="body" *ngIf="mostrar">

  <div id="gym"></div>

  <section class="sectionH" id="header">
    <header class="header">
      <div class="xtremeGym">
        <h3>
          <i>
            <a href="#gym">XTREMEGYM</a>
          </i>
        </h3>
      </div>
      <div id="start" class="start">
        <button (click)="verPlan()">
          <p>
            <a href="#sectionPlanes">COMENZAR</a><br>
            <span>
              <hr>
            </span>
          </p>
        </button>
      </div>
      <div *ngIf="true" class="log-in">
        <button>
          <p>
            <a href="#sectionHorarios">HORARIOS</a> <br>
            <span>
              <hr>
            </span>
          </p>
        </button>
      </div>
    </header>
  </section>

  <section id="hide" *ngIf="false" class="sectionPlan">
    <div class="planes">
      <div class="plan1">
        <h1><i>5k COP</i></h1>
      </div>
      <div class="plan2">
        <h1><i>15k COP</i></h1>
      </div>
      <div class="plan3">
        <h1><i>50k COP</i></h1>
      </div>

      <div class="descripPlanes">
        <div class="plan1Des">
          <p><span>
              <p>Día</p>
            </span> de entrenamiento</p>
        </div>
        <div class="plan2Des">
          <p><span>
              <p>Semana</p>
            </span> de entrenamiento</p>
        </div>
        <div class="plan3Des">
          <p><span>
              <p>Mes</p>
            </span> de entrenamiento</p>
        </div>
      </div>

      <!--<div class="salir">
        <button (click)="ocultarPlan()">
          <p>X</p>
        </button>
      </div>-->

    </div>
  </section>

  <br>
  <app-razones></app-razones>

  <section class="sectionE">
    <header class="titleE">
      <div id="titleE" data-aos="flip-up" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in-cubic"
        data-aos-offset="0">
        <h1>
          ENTRENADOR <span id="altamente">ALTAMENTE</span> CALIFICADO
        </h1>
      </div>
    </header>
    <article class="entrenar">
      <div class="fotoTio" data-aos="fade-in" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in-cubic"
      data-aos-offset="0">
        <img
          src="https://scontent.fclo1-4.fna.fbcdn.net/v/t1.6435-9/64593167_2227502443970942_7599060854851502080_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=QvmQTRLmGbQAX-2VmbU&_nc_ht=scontent.fclo1-4.fna&oh=00_AfCgN7NsKvf42EpPejiUYxjWuf1rcGjVUec2Jr6r8AQ_Jg&oe=6381AAE7"
          alt="">
      </div>
      <div class="estudiosUno" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500"
        data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <h4>
          Universidad1<span>
            <p><i>aqui</i></p>
          </span>
        </h4>
      </div>
      <div class="estudiosDos" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500"
        data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <h4>
          Universidad2<span>
            <p><i>aqui</i></p>
          </span>
        </h4>
      </div>
      <div class="estudiosTres" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500"
        data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <h4>
          Universidad3<span>
            <p><i>aqui</i></p>
          </span>
        </h4>
      </div>
    </article>
  </section>

  <section class="sectionA">
    <header class="titleA">
      <div id="aqui" data-aos="flip-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in-cubic"
        data-aos-offset="0">
        <h1>
          ENCUENTRANOS <span>AQUÍ</span>
        </h1>
      </div>
    </header>
    <article class="tableA">
      <div id="aqui2" class="subtitleA" data-aos="fade-right" data-aos-delay="300" data-aos-duration="500"
        data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <h2>
          Dirección
        </h2>
      </div>
      <div class="linkA" data-aos="flip-down" data-aos-delay="300" data-aos-duration="500"
        data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <i>
          <p>
            <a target="_blank" href="https://maps.app.goo.gl/SF51NqcrHGYeVuDZ8">Cra 26A Tuluá</a>
            <!--<span><hr></span>-->
          </p>
        </i>
      </div>
    </article>
  </section>

  <section id="sectionPlanes" class="sectionPlanes">
    <header class="titleP">
      <div id="nustrosPlanes" data-aos="flip-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in-cubic">
        <h1>NUESTROS PLANES</h1>
      </div>
    </header>
    <article class="tableP">
      <div class="claseDia" data-aos="fade-left" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in-cubic">
        <h4><i>5.000 COP</i></h4>
      </div>
      <div class="claseSemana" data-aos="fade-left" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in-cubic">
        <h4><i>15.000 COP</i></h4>
      </div>
      <div class="claseMes" data-aos="fade-left" data-aos-delay="500" data-aos-duration="500" data-aos-easing="ease-in-cubic">
        <h4><i>50.000 COP</i></h4>
      </div>
      <div class="descripcionPd" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in-cubic">
        <p>Día de entrenamiento</p>
      </div>
      <div class="descripcionPs" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in-cubic">
        <p>Semana de entrenamiento</p>
      </div>
      <div class="descripcionPm" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-easing="ease-in-cubic">
        <p>Mes de entrenamiento</p>
      </div>
    </article>
  </section>

  <section id="sectionHorarios" class="sectionHorarios">
    <header class="titleHorarios">
      <div id="horarios" data-aos="flip-up" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in-cubic"
      data-aos-offset="0">
        <h1>HORARIOS</h1>
      </div>
    </header>
    <article class="tableHorarios">
      <div class="dias" data-aos="fade-down" data-aos-delay="300" data-aos-duration="500"
      data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <h4>
          LUNES A VIERNES
        </h4>
      </div>
      <div id="inicio1" class="inicio1" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="500"
      data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <p id="p1">
          6:00 <span>AM</span> <br>
          12:01 <span>PM</span>
        </p>
      </div>
      <div id="inicio2" class="inicio2" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="500"
      data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <p id="p2">
          4:00 <span>AM</span> <br>
          9:00 <span>PM</span>
        </p>
      </div>
      <div class="hasta" data-aos="flip-up" data-aos-delay="300" data-aos-duration="500"
      data-aos-easing="ease-in-cubic" data-aos-offset="0">
        <p>Hasta</p>
      </div>
    </article>
  </section>

  <app-footer></app-footer>

  <script>
    AOS.init();
  </script>

</body>

</html>
