/* You can add global styles to this file, and also import other style files */
html{
  background-color: rgb(255, 255, 255);
}
html,body{
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
